.container {
    display: flex;
    flex-direction: column;
    height: 13vh;
    padding: 1rem;
    background: linear-gradient(to bottom, #000000, #1a1a1a2d);
    width: 100%;
    align-items: center;
    position: fixed;
    transition: all 0.5s ease-in-out;
    /* Adjust the duration (0.3s) as needed */
}

@media only screen and (max-width: 767px) {
    .container {
        display: flex;
        min-height: 10vh;
        height: auto;
        background: linear-gradient(to bottom, #030000, #1a1a1a28);
        width: 100%;
        padding: 1rem;
        align-items: center;
        z-index: 9999;
        position: fixed;
        transition: all 0.5s ease-in-out;
    }
}

.containerVanish {
    display: flex;
    flex-direction: column;
    height: 13vh;
    transition: all 0.5s ease-in-out;
    align-items: center;
    position: absolute;
}

@media only screen and (max-width: 767px) {
    .containerVanish {
        display: flex;
        flex-direction: column;
        min-height: 13vh;
        height: auto;

        background: linear-gradient(to bottom, #030000, #030000);
        width: 100%;
        z-index: 999;
        align-items: center;
        position: fixed;
        transition: all 0.5s ease-in-out;
    }
}

.navbarWrap {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin: 0 3rem;
}


@media only screen and (max-width: 767px) {
    .navbarWrap {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        margin: 0 1rem;
    }
}

.logo {
    height: 3rem;
}

@media only screen and (max-width: 767px) {
    .logo {
        height: 2rem;
    }
}

.left {
    flex: 6;
    display: flex;
}

@media only screen and (max-width: 767px) {
    .left {
        flex: 12;
        display: flex;
    }
}

.navItem {
    padding: 0 1rem;
}

.right {
    flex: 6;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
}

@media only screen and (max-width: 767px) {
    .right {
        flex: 6;
        display: none;
        align-items: center;
        justify-content: flex-end;
        gap: 1rem;
    }
}

.rightMob {
    display: none;
    cursor: pointer;
}

@media only screen and (max-width: 767px) {
    .rightMob {
        display: block;
        flex: 1;
    }
}

.nav {
    display: flex;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

.drawer {
    height: 100vh;
    background-color: black;
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 3vh;
    align-items: center;
    justify-content: center;
}