.container {
    display: flex;
    height: 13vh;
    background: linear-gradient(to bottom, #030000, #1a1a1a28);
    width: 100%;
    align-items: center;
    position: fixed;
    transition: all 0.3s ease-in-out;
    /* Adjust the duration (0.3s) as needed */
}

.containerVanish {
    display: flex;
    height: 13vh;
    transition: all 0.3s ease-in-out;
    align-items: center;
    position: absolute;
}

.navbarWrap {
    display: flex;
    margin: 0 3rem;
}

.logo {
    height: 3rem;
}